.archive {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 80px;
}

ol {
  list-style-type: none;
  margin: 0;
}

ul {
  margin-top: 10px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}
